.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 643px;
    height: 443px;

    padding: 40px;

    background: #DFE9F4;
    border-radius: 10px;
}