.form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 643px;
    height: 443px;

    padding: 40px;

    background: #DFE9F4;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}