.wrapper-content{
    margin: 0 auto;
    max-width: 1145px;
    height: 900px;

    background-color: #cccccc;
   
}
.home-top{
    height: 749px;
    width: 100%;
    background-image: url('../../image/1643231613_1-phonoteka-org-p-sklad-fon-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-top-content{
    display: flex;
    margin: 0 auto;
    max-width: 1145px;
    height: 100%;
    justify-content: end;
    align-items: center;

}
.home-top-window{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 643px;
    height: 443px;

    padding: 40px;

    background: RGBA(223,233,244,0.90);
    border-radius: 10px;
    h2{
        color: #054C73;
        font-style: normal;
        font-weight: 700;
        font-size: 52px;
        line-height: 65px;
    }
    p{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 39px;
        color: #333333;
    }
}
.advantages-section{
    height: 150px;
    width: 100%;

    background: #F2F5FF;
}
.advantages-section-content{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1145px;
    height: 100%;

    align-items: center;
    justify-content: space-between;
}
.advantages-item{
    display: flex;
    width: 338px;
    height: 55px;
    svg{
        color: #111111;
        margin-right: 10px;
        font-size: 3rem;
    }
    h3{
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #333333;
    }
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;

        color: #333333;
    }
}
.form-section{
    width: 100%;
    padding-bottom: 50px;
    background: #F2F5FF;
    
}
.form-section-wrapper{
    margin: 0 auto;
    max-width: 1145px;
    height: 100%;
    text-align: center;
}
.form-section-header{
    padding-top: 40px;
    padding-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #333333;
}
.form-section-content{
    display: flex;
}
.form-section-content-left{
    width: 55%;
    height: 443px;
}
.form-section-content-right{
    width: 45%;
    background-image: url('../../image/bulldozer.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 530px;
}
.how-it-work{
    margin-top: 30px;
}
.how-it-work-header{
    text-align: center;
    h2{
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #333333;
    }
}
.how-it-work-steps{
    display: flex;
    margin: 0 auto;
    max-width: 1145px;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.how-it-work-step{
    width: 250px;
    height: 400px;
    background-color: #F2F5FF;
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    img{
        position: relative;
        height:200px;
        width: 250px;
        border-radius: 10px 10px 0px 0px;
    }
    .how-it-work-step-circle{
        position: relative;
        margin: 0 auto;
        margin-top: -50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height:90px;
        width: 90px;
        background-color: #F2F5FF;
        border-radius: 50%;
        z-index: 8;
    }
    .how-it-work-step-circle-2{
        display: flex;
        justify-content: center;
        align-items: center;
        height:60px;
        width: 60px;
        background-color: #111111;
        border-radius: 50%;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;

        color: #FFFFFF;
    }
    .how-it-work-step-content{
        text-align: center;
    }
}
@media screen and (max-width: 700px) {
    .home-top-window {
        h2{
            font-size: 32px;
            line-height: 40px;
        }
    }
    .home-top {
        height: 500px;
    }
    .home-top-window {
        height: 300px;
    }
    .advantages-section-content{
        justify-content: center;
        padding-top: 10px;
    }
    .advantages-item{
        height: 80px;
    }
    .form-section {
        height: 100%;
    }
    .form-section-content{
        flex-wrap: wrap;
    }
    .form-section-header {
        padding-top: 110px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .form-section-content-left{
        width: 100%;
        height: 100%;
    }
    .form-section-content-right{
        width: 100%;
        height: 300px;
    }
    .form-wrapper{
        height: 100%;
    }
    .how-it-work-steps{
        justify-content: center;
    }
  }