.wrapper-content{
    margin: 0 auto;
    max-width: 1145px;
    height: 900px;

    background-color: #cccccc;
   
}
.home-top{
    height: 749px;
    width: 100%;
    background-image: url('../../image/scandinavian-interior-mockup-wall-decal-background 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}